{% extends 'base.html' %}
{% block content %}
<h2>Editar Proveedor</h2>

<form method="POST">
  <p><label>Nombre:</label><input type="text" name="nombre" value="{{ proveedor.nombre }}" required></p>
  <p><label>Teléfono:</label><input type="text" name="telefono" value="{{ proveedor.telefono }}"></p>
  <p><label>Correo:</label><input type="email" name="correo" value="{{ proveedor.correo }}"></p>
  <p><label>Dirección:</label><input type="text" name="direccion" value="{{ proveedor.direccion }}"></p>
  <button type="submit">Actualizar</button>
  <a href="{{ url_for('proveedores_bp.listado') }}">Cancelar</a>
</form>
{% endblock %}
