{% extends 'base.html' %}
{% block content %}
<h2>Editar Usuario</h2>

<form method="POST">
  <p><label>Nombre:</label>
    <input type="text" name="nombre" value="{{ usuario.nombre }}" required></p>
  <p><label>Contraseña:</label>
    <input type="password" name="contrasenha" value="{{ usuario.contrasenha }}" required></p>
  <p>
    <label>Rol:</label>
    <select name="administrador">
      <option value="0" {% if not usuario.administrador %}selected{% endif %}>Usuario</option>
      <option value="1" {% if usuario.administrador %}selected{% endif %}>Administrador</option>
    </select>
  </p>
  <button type="submit">Actualizar</button>
  <a href="{{ url_for('usuarios_bp.listado') }}">Cancelar</a>
</form>
{% endblock %}
